resources/loanService/types/Branch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by ruabds2 (EMBRACE) -->
<!--Created at 2009-10-16 by Borodkin Sergey-->
<!--Branch Type description-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:br="http://www.raiffeisen.ru/types/Branch/v1" targetNamespace="http://www.raiffeisen.ru/types/Branch/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.2">
	<xsd:complexType name="ct_Branch">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
